## Exercise

In [1]:
'''** What is 7 to the power of 4?**'''

'** What is 7 to the power of 4?**'

In [2]:
7**4

2401

In [3]:
'''** Split this string:**

    s = "Hi there Yogesh!"
    
**into a list. **'''

'** Split this string:**\n\n    s = "Hi there Yogesh!"\n    \n**into a list. **'

In [4]:
s= "Hi there Yogesh!"

In [5]:
s.split()

['Hi', 'there', 'Yogesh!']

In [6]:
'''** Given the variables:**

planet = "Earth"
diameter = 12742
** Use .format() to print the following string: **

The diameter of Earth is 12742 kilometers.'''

'** Given the variables:**\n\nplanet = "Earth"\ndiameter = 12742\n** Use .format() to print the following string: **\n\nThe diameter of Earth is 12742 kilometers.'

In [7]:
planet = "Earth"
diameter = 12742

In [8]:
'The diameter of {} is {} kilometer'.format(planet,diameter)

'The diameter of Earth is 12742 kilometer'

In [9]:
'''** Given this nested list, use indexing to grab the word "hello" **'''

'** Given this nested list, use indexing to grab the word "hello" **'

In [10]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [11]:
lst[3][1][2]

['hello']

In [12]:
lst[3][1][2][0]

'hello'

In [13]:
'''** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **'''

'** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **'

In [14]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [15]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [16]:
'''** What is the main difference between a tuple and a list? **'''

'** What is the main difference between a tuple and a list? **'

In [17]:
# list is mutable and tuple is immutable.

In [18]:
'''** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**'''

'** Create a function that grabs the email website domain from a string in the form: **\n\n    user@domain.com\n    \n**So for example, passing "user@domain.com" would return: domain.com**'

In [19]:
def get_domain(email):
    return email.split('@')[-1]

In [20]:
get_domain('priya.jagtap123@gmail.com')

'gmail.com'

In [21]:
'''** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **'''

"** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **"

In [22]:
def find_dog(s):
    return 'dog' in s.lower().split()

In [23]:
find_dog('Is there a dog here?')

True

In [24]:
find_dog('Is there a Dog here?')

True

In [25]:
find_dog('Is there a DOg here?')

True

In [26]:
'''** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **'''

'** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **'

In [27]:
def count_dog(s):
    count=0
    for v in s.lower().split():
        if v=='dog':
            count +=1   # count+count+1
    return count

In [28]:
count_dog('This dog runs faster than the other dog dude!')

2

In [29]:
'''** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

    seq = ['soup','dog','salad','cat','great']

**should be filtered down to:**

    ['soup','salad']'''

"** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**\n\n    seq = ['soup','dog','salad','cat','great']\n\n**should be filtered down to:**\n\n    ['soup','salad']"

In [30]:
seq = ['soup','dog','salad','cat','great']

In [31]:
list(filter(lambda x:x[0]!='s', seq))

['dog', 'cat', 'great']

In [31]:
'''**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **'''

'**You are driving a little too fast, and a police officer stops you. Write a function\n  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". \n  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 \n  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all \n  cases. **'

In [32]:
def speed_catch(speed,birthday):
    if birthday:
        new_speed=speed-5
    else:
        new_speed=speed
    if new_speed>80:
        print('BIG TICKET')
    elif new_speed>60:
        return('SMALL TICKET')
    else:
        return('NO TICKET')

In [33]:
speed_catch(84,False)

BIG TICKET

In [34]:
speed_catch(84,True)

'SMALL TICKET'

In [35]:
speed_catch(50,True)

'NO TICKET'

In [36]:
speed_catch(65,True)

'NO TICKET'

In [37]:
speed_catch(65,False)

'SMALL TICKET'

In [38]:
'''Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678'''

"Given a string print number num by extracting all the\ndigits from the string as in string\nPrint negative number if the first character in \nstring is '-'\neg.\n-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678"

In [40]:
s=input('Enter the Input: ')
num=''
a=[0,1,2,3,4,5,6,7,8,9]
if s=='':
    print('P1 enter something')
else:    
    if s[0]=='-':
        num=num+s[0]
    for c in s:
        if c in str(a):
            num=num+c
    print(num)

Enter the Input: -dhd45ndfn
-45

In [41]:
'''WAP to check whether a number is palindrome or not on following conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse'''

'WAP to check whether a number is palindrome or not on following conditions.\n1. take input number\n2. add number and its reverse\n3. check that number is palindrome or not,if not then sum and its reverse'

In [42]:
num1=input('Enter the number: ')
num2=int(num1[::-1])
num3=str(int(num1)+num2)
while num3!=num3[::-1]:
    num3=str(int(num3)+int(num3[::-1]))
    print('Number is :',num3)
    print('Reverse is: ',num3[::-1])
print('palindrome is: ',num3)

Enter the number: 88
Number is : 847
Reverse is:  748
Number is : 1595
Reverse is:  5951
Number is : 7546
Reverse is:  6457
Number is : 14003
Reverse is:  30041
Number is : 44044
Reverse is:  44044
palindrome is:  44044

In [43]:
'''Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19'''

'Write a python function to find and display the five \ndigit number in which the first digit is two more than \nthe second,the second digit is two more than the third,\nthe fourth digit is two less than the third, and the \nlast digit is two more than\nthe fourth.The sum of the third,fourth and fifth digits\nequals the first.The sum of all the digits is 19'

In [44]:
def five_digit_number():
    s=[0,1,2,3,4,5,6,7,8,9]
    for x in s:
        a=x+4
        b=x+2
        c=x
        d=x-2
        e=x
        if c+d+e==a:
            if(a+b+c+d+e)==19:
                return(int(str(a)+str(b)+str(c)+str(d)+str(e)))
print(five_digit_number())

75313

In [45]:
def five_digit_number():
    
    for x in range(0,9):
        a=x+4
        b=x+2
        c=x
        d=x-2
        e=x
        if c+d+e==a:
            if(a+b+c+d+e)==19:
                return(int(str(a)+str(b)+str(c)+str(d)+str(e)))
print(five_digit_number())

75313